<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>산학/연구</title>
  </head>
  <body>
    <header class="header">
      <a href="/">
        <img src="../static/images/logo.png" class="logo" />
      </a>
      <div class="header__btn">산학/연구</div>
    </header>
    <div class="notice__list">
      <table border="1" width="70%">
          {% for i in range(leng) %}
        <tr height="50" bgcolor="97eefc">
          <td><a href="{{ data_href[i] }}" target="_blank">{{i+1}})   {{ research_data[i] }}</a></td>
        </tr>
          {% endfor %}
      </table>
    </div>
  </body>
</html>
