<!doctype html>
<html>
   <head>
       <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
   </head>
   <body>
   <a href="/">
       <img src="../static/images/logo.png" class="logo" />
   </a>
    <h1>검색 결과</h1>
    </br>
      <div>
          <table width="70%">
          {% for i in range(leng) %}
            <tr height="50" bgcolor="97eefc">
                <td><a href="{{ href[i] }}" target="_blank">  {{ search[i] }}</a></td>
            </tr>
          {% endfor %}
          </table>
      </div>
   </body>
</html>